*{
	padding: 0;
	margin: 0
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #fff;

}
header{
	width: 100%;
}
.section{
	width: 90%;
	margin: 0 auto;
	max-width: 1024px;
}
.encabezado{
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	background-image: url("/images/encabezado.jpg");
}
.logotipo{
	float:hidden;
	margin-left: 20px;
}

header nav{
	width: 90%;
	z-index:1000;
	max-width: 1024px;
	margin: 10px auto;
	background: #ff8900;
}
.menubar{
	display: none;
}
header nav ul{
	overflow: hidden;
	list-style: none;
}
header nav ul li{
	float: left;
} 
header nav ul li a{
	color: #fff;
	padding: 20px;
	text-decoration: none;
	font-family: verdana;
	display: block;
}
.iconos{
	margin-right: 20px;
}
header nav ul li a:hover{
	background: #037e8c;
}
section{
	padding: 20px;
}

.logotipo{
	width: 150px;
}





@media screen and (max-width: 800px){
	body{
		padding-top: 50px;
	}
	header nav{
		width: 80%;
		height: calc(100% -50px);
		margin: 0;
		position: fixed;
		right: 100%;
		overflow: scroll;
	}
	header nav ul li{
		display: block;
		float: none;
		border-bottom:1px solid rgba(255,255,255,.3);

	}
	.menubar{
		display: block;
		width: 100%;
		background: #ccc;
		position: fixed;
		top: 0;
	}
	.menubar .btn{
		display: block;
		padding: 20px;
		margin: 0;
		background: #024959;
		color: white;
		text-decoration: none;
		font-weight: bold;
		font-size: 1em;
		font-family: verdana;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.menubar span{
		float:right;
	}
	.menubar span .iconos{
		width: 1.3em;
	}
	.encabezado{
		display: none;	
	}
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
	
}