*{
	margin: 0;
	padding: 0;
}
.contenido{
	width: 100%;
	display: block;
	background-image: url(/images/portada.jpg);
	height: 700px;
	padding:40px;
	position: relative;
}
.fondo{
	background: rgba(141,207,244, .5);
	margin: 30px, 30px;
	border:7px solid rgb(0,0,0);
	width: 90%;
	height: 90%;
	padding: 30px;
	border-radius: 15px;
	float: left;

}
.fondo>.cont{
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	padding: 500px;	
}
